<div style="max-width: 400px">
  <%= render(Primer::Alpha::TreeView.new) do |tree_view| %>
    <% tree_view.with_sub_tree(label: "src", expanded: true) do |sub_tree| %>
      <% sub_tree.with_leading_visual_icons(label: "Foobar") do |icons| %>
        <% icons.with_expanded_icon(icon: :"file-directory-open-fill") %>
        <% icons.with_collapsed_icon(icon: :"file-directory-fill") %>
      <% end %>

      <% sub_tree.with_trailing_visual_icon(icon: :"diff-modified") %>

      <% sub_tree.with_item(label: "button.rb") do |item| %>
        <% item.with_leading_visual_icon(icon: :file) %>
      <% end %>

      <% sub_tree.with_item(label: "icon_button.rb") do |item| %>
        <% item.with_leading_visual_icon(icon: :file) %>
      <% end %>
    <% end %>

    <% tree_view.with_item(label: "action_menu.rb") do |item| %>
      <% item.with_leading_visual_icon(icon: :file) %>
    <% end %>
  <% end %>
</div>
